/* リセットCSS */
body {
  font-size: 14px;
  color: rgb(187, 181, 181);
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

a{
  color: rgb(187, 181, 181);
  text-decoration: none;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  height: 50px;
  background-color: #334b4b;
  padding: 10px 0;
  display: flex;
}

/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
  background-color: rgb(115, 160, 154);
}

.first-view{
  height: 60vh;
}

/* 新着情報 */
.upper-content{
  height: 450px;
  margin: 0 160px;
}

/* スタイリスト紹介 */
.middle-content{
  height: 450px;
  margin: 0 160px;
}




.heading {
  width: 50%;
  margin-left: 30px;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style: none;
}

.top-image {
  height: 100%;
  width: 100%;
}

.heading-name{
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 40px auto;
  color: #565a63;
}

.book-lists{
  text-align: center;
  border: 1px solid #f0f4f9;
  width: 200px;
  margin: 0 auto;
  height: 72px;
}

.table-body {
  background-color: #cbd3d3;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.item-data {
  display: flex;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.item-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.3s ease;
}

.item-menu a {
  width: 60px;
  font-size: 16px;
  color: #bac6d3;
  text-align: center;
}

.item-menu a:hover {
  color: #80bcff;
}

.table-body .id-column {
  font-size: 16px;
  color: #565a63;
}

.table-body .name-column {
  font-size: 14px;
  font-weight: 500;
  color: #565a63;
}
.id-column {
  width: 72px;
  text-align: center;
}
